{%extends 'all-awards/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if submissions %}
      <h2>Found {{ submissions|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if submissions %}
    {% for submission in submissions %}
      <div class="col-sm-6 col-md-3">
          <h1>{{submission.title}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}